# Database
DATABASE_URL="postgresql://muhaidentity:muhaidentity_pass@localhost:5432/db?schema=public"

# Server
PORT=1337
HOST=0.0.0.0
NODE_ENV=development

# JWT
JWT_SECRET=DiRtebBIc961b6uGYGdk5A==
JWT_EXPIRES_IN=30d

# Admin
ADMIN_EMAIL=admin@ideabymuha.com
ADMIN_PASSWORD=admin123

# Session secret for AdminJS
SESSION_SECRET=super-secret-session-key-change-in-production

# Upload
UPLOAD_DIR=./public/uploads
